.colors {
  color: #1a56b0;
  color: #fc3f26;
  color: #0d6efd; /* color de referencia para la paleta*/
  color: #cafc26;
  color: #86b000;
  color: #06367d; /* fondo */
}


#tblVentas {
  background-color: whitesmoke;
}

#tabla_acumulados {
  background-color: #1a56b0;
  color: white;
}

#tabla_totales {
  background-color: #86b000;
  color: white;
}

#tabla_vendedores {
  background-color: #cafc26;
}
#btn_cerrar_turno,
#btn_confirm_cerrar_turno,
.btnDel {
  background-color: #fc3f26;
}

#btn_cerrar_turno {
  float: right;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

#title_barrio,
#title_comuna,
#title_total_venta,
#title_recomendacion {
  color:whitesmoke;
  background-color: #06367d;
}

#titulos_dttbl_domicilios {
  background-color: #0A57C9;
  color: white;
  padding-left: 5em;
  margin-top: 1em;
}

#titulos_dttbl_gestiones_en_espera  {
   background-color: #105434;
  opacity: .5;
  color: white;
  padding-left: 5em;
  margin-top: 1em;
}


#titulos_dttbl_gestiones {
   background-color: #105434;
  color: white;
  padding-left: 5em;
  margin-top: 1em;
}

#subtitulo_navbar {
  color: whitesmoke;
}

#barra_informativa{
  background-color:#ff00ff;
}

#info_mes{
  color: black;
}
#info_turno{
  color: black;
}


#nav_principal{
  background-color: #b300b3;
}


/* Estilos para el panel lateral por usuarios */

#mySidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b300b3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #26199c;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}